/* Định dạng chung */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Phần tử món đồ ăn */
.menu-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}

.menu-item:last-child {
    border-bottom: none;
}

.item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 12px;
}

.item-info {
    flex: 1;
}

.item-name {
    font-size: 16px;
}

.cart-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.cart-table th,
.cart-table td {
    padding: 8px;
    border: 1px solid #ccc;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/* Giao diện tối */
.dark-mode {
    background-color: #333c47;
    color: #fff;
    border-color: #ffcc00;
}

.dark-mode .menu-item {
    background-color: #333c47;
    color: #fff;
    border-color: #ffcc00;
}

/* Giao diện tối cho tên món ăn */
.dark-mode .item-name {
    color: #ffcc00;
}

/* Giao diện tối cho phần giá */
.dark-mode .item-price {
    color: #fff;
}

/* Giao diện sáng cho phần giá */
.light-mode .item-price {
    color: #000;
}